<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wecancity-Otaibi-com.Camel-Gate</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.812874523368-gk6vmjabndk80vl9ouapn1q5sqtts251</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>comgooglemaps</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>MyriadVariableConcept-Roman.otf</string>
		<string>GESSUniqueLight.otf</string>
		<string>GESSUniqueBold-Bold.otf</string>
		<string>GESSTextMedium-Medium.otf</string>
		<string>SFUIText-Bold.ttf</string>
		<string>SFUIText-BoldItalic.ttf</string>
		<string>SFUIText-Heavy.ttf</string>
		<string>SFUIText-HeavyItalic.ttf</string>
		<string>SFUIText-Light.ttf</string>
		<string>SFUIText-LightItalic.ttf</string>
		<string>SFUIText-Medium.ttf</string>
		<string>SFUIText-MediumItalic.ttf</string>
		<string>SFUIText-Regular.ttf</string>
		<string>SFUIText-RegularItalic.ttf</string>
		<string>SFUIText-Semibold.ttf</string>
		<string>SFUIText-SemiboldItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
