<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Myriad Roman Regular.ttf</string>
		<string>Myriad Roman Bold</string>
		<string>MyriadVariableConcept-Roman.otf</string>
		<string>GE_SS_Unique_Light_1.otf</string>
		<string>SFUIText-Bold.ttf</string>
		<string>SFUIText-BoldItalic.ttf</string>
		<string>SFUIText-Heavy.ttf</string>
		<string>SFUIText-HeavyItalic.ttf</string>
		<string>SFUIText-Light.ttf</string>
		<string>SFUIText-LightItalic.ttf</string>
		<string>SFUIText-Medium.ttf</string>
		<string>SFUIText-MediumItalic.ttf</string>
		<string>SFUIText-Regular.ttf</string>
		<string>SFUIText-RegularItalic.ttf</string>
		<string>SFUIText-Semibold.ttf</string>
		<string>SFUIText-SemiboldItalic.ttf</string>
	</array>
</dict>
</plist>
