<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468820248954-jjgnmvfrtp39b826n4tih8l3lbui34jn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468820248954-jjgnmvfrtp39b826n4tih8l3lbui34jn</string>
	<key>API_KEY</key>
	<string>AIzaSyD6xPQb70D6vca85voucgTVvStFHBTZCXI</string>
	<key>GCM_SENDER_ID</key>
	<string>468820248954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wecancity-com.Camel-Gate</string>
	<key>PROJECT_ID</key>
	<string>camelgate-a71ec</string>
	<key>STORAGE_BUCKET</key>
	<string>camelgate-a71ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468820248954:ios:fe936f5d8233f6af40aec3</string>
</dict>
</plist>